<div>
  <br>
  <mat-card>
    <div class="message">
      {{message}}
    </div>
    <section class="mat-typography">
      <h2> Update issue for {{updatedIssueData.issue}} </h2>
      <mat-divider> </mat-divider>
      <form [formGroup]="updateIssueForm" class="update-form" (ngSubmit)="updatedNewIssueData()" method="post">
        <mat-form-field class="field-full-width">
          <input formControlName="issue" [(ngModel)]="updatedIssueData.issue"  placeholder="enter issue" matInput id="">
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input formControlName="responsible" [(ngModel)]="updatedIssueData.responsible" placeholder="enter responsible" matInput id="">
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <textarea formControlName="descriptions" [(ngModel)]="updatedIssueData.descriptions" style="resize:none;" placeholder="enter descriptions" matInput id=""> </textarea>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <mat-select formControlName="severity" [(ngModel)]="updatedIssueData.severity" placeholder="choose severity" matInput id="">
            <mat-option value="low"> Low</mat-option>
            <mat-option value="medium"> Medium</mat-option>
            <mat-option value="high"> High</mat-option>
            <mat-option value="pending"> Pending </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <mat-select formControlName="status" [(ngModel)]="updatedIssueData.status" placeholder="choose status" matInput id="">
            <mat-option value="open"> open</mat-option>
            <mat-option value="closed"> closed</mat-option>
            <mat-option value="in-progress"> in progress</mat-option>
            <mat-option value="done"> done </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider> </mat-divider>
        <br>
        <button type="button" mat-raised-button color="accent" routerLink="/list"> Go back </button>
        <button type="submit" [disabled]="updateIssueForm.invalid || updateIssueForm.pristine" mat-raised-button color="primary"> Update
          issue </button>
      </form>
    </section>
  </mat-card>
</div>
